@media only screen and (min-width: 500px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .skill {
    margin: 0 1em;
  }
}

@media only screen and (min-width: 768px) {
  .devices {
    display: flex;
    gap: 2em;
  }
  .skill {
    justify-self: center;
  }
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .navbar__hamburger {
    display: none;
  }
  .navbar__menu {
    display: flex;
    height: unset;
    opacity: 1;
    justify-content: space-between;
    transition: none;
  }
  .navbar__menu > * {
    display: flex;
    align-items: center;
  }
  .navbar__menu__item {
    font-size: 1.5rem;
  }
}